.form {

    &__column-1 {
        
    }

    &__column-2 {
        
    }
    
    &__group {
        position: relative;
    }

    &__icon-bg {
        position: absolute;
        top: 6px;
        left: 5px;
        background-color: $color-white-2;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__icon {
        
        fill: $color-white-6;
        width: 2rem;
        height: 2rem;
    }

    &__input {
        width: 30rem;
        height: 5rem;
        box-shadow: -2px 3px 12px rgba($color-white-1, .4);
        border-radius: 31px;
        background-color: $color-white-1;
        text-indent: 5rem;
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 1.6rem;
     
    }
    &__textarea {
        height: 100%;
        text-indent: 0;
        padding: 2rem 5rem;
        
    }
    .btn-primary {
        margin: auto;
    }
}