.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 6rem;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        max-width: 90%;
    }

    &__about-us {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__header {}

    &__border {
        display: block;
        width: 40%;
        height: 6px;
        background-color: $color-orange-1;
        margin: 2rem 0;
    }

    &__txt:not(:last-child) {
        margin-bottom: 2rem;
    }


}