.about {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        max-width: 90%;

        margin: 4rem 0;

        @include mq(small) {
            max-width: 80%;
            flex-direction: row;

            & > :first-child{
                margin-right: 8rem;
            }
        }
        
        @include mq(medium) {
            max-width: 60%;
        }
    }

    &__about-us {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mq(small) {
            flex-direction: row;
           flex-wrap: wrap;
            
        }
    }

    &__header {
        text-align: center;
        display: inline-block;
        margin: 4rem 0; 
        &:after {
            content: "";
            display: block;
            width: 28%;
            height: 6px;
            background-color: $color-orange-1;
            margin: 2.5rem 0;
        }
    }

    &__content {
        @include mq(small) {
        display: flex;
        }
    }

    &__txt:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__txt:first-child {
        @include mq(small) {
            margin-right: 4rem;
        }
    }

}