.bg-video {
    background-image: linear-gradient(
        0deg,
        rgba($color-grey-6, 0.6),
        rgba($color-grey-6, 0.6)),
    url(/img/video-img.jpg);
    background-size: cover;
    background-position: left;
    width: 100%;
    height: 30rem;
    
}