.jobs {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $color-orange-1;

    &__bg-top {
        height: 25rem;
        background-color: $color-orange-1;
        background-image: url(img/bg-wave-orange.svg);
        background-position: bottom;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
        backface-visibility: hidden;
        margin-top: -15rem;
    }

    &__container {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem 0 5rem 0;

        @include mq (small) {
            flex-direction: row;
            max-width: 80%;
        }

        @include mq(medium) {
            max-width: 70%;
        }

        @include mq(large) {
            max-width: 60%;
        }
    }

    &__content {
        color: $color-white-1;
        @include mq (small) {
            margin-left: 7rem;
        }

        @include mq(large) {
            margin-bottom: 5rem;
        }
    }

    &__header-box {
        margin: 6rem 0 6rem;
    }

    &__header {
    
        display: inline-block;
        &:after {
            content: "";
            display: block;
            width: 60%;
            height: 6px;
            background-color: $color-white-1;
            margin: 2.5rem 0;
        }
    }

    &__txt-bold {
        margin-bottom: 1rem;
    }

    &__mail {
        &:link,
        &:visited {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-black-3;
            width: 286px;
            height: 50px;
            border-radius: 25px;
            background-color: $color-white-1;
            margin: 1.5rem 0 1.5rem;
        }
    }
}