.our-games {

    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {

        display: flex;
        flex-direction: column;
        margin: 5rem 0;
        width: 100%;

        @include mq(medium) {
            max-width: 90%;
        }
    }

    &__header-box {
        width: 100%;
        text-align: center;
    }

    &__header {

        margin: 6rem 0 6rem 0;

        &--white {
            color: $color-white-1;
        }

        &--orange {
            color: $color-orange-1;
        }

    }


    &__boxes {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
}
