.our-city {

    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        max-width: 80%;
        margin-bottom: 5rem;

        @include mq(large) {
            max-width: 58%;
        }
    }

    &__header-box {
        margin: 6rem 0;
    }

    &__header {
        color: $color-black-3;
        text-align: center;


        &--color {
            color: $color-orange-1;
        }
    }


    &__row {
      &:not(:first-child) {
        margin-top: 50px;
      }
    }

    @include mq(small) {
        &--order &__txt {
            order: 1;
            margin-right: 4.4rem;

        }

        &--order &__photo-box {
            order: 2;
            margin: 0;
        }
    }

    &__photo-box {
        max-width: 100%;
        height: auto;
        margin-right: 4.4rem;
    }

    &__block {
      position: relative;
      text-align: justify;
      color: #000;

      &--rounded {
        border-radius: 25px;
      }

      &--orange {
        background-color: #e47307;
      }

      &--grid {
        display: grid;
        grid-template-columns: 3fr 4fr;
        overflow: hidden;
        border-radius: 30px;
      }

    }

    &__top-txt {
      position: absolute;
      top: 20px;
      left: 50px;
      opacity: 0.7;
      color: #fff;
      width: 70%;
      line-height: 3rem;
    }

    &__bottom-txt {
      position: absolute;
      bottom: 20px;
      right: 50px;
      opacity: 0.7;
      color: #fff;
      width: 70%;
      line-height: 3rem;
    }

    &__photo {
      width: 100%;

      &--rounded {
        border-radius: 25px;
      }

      &--right {
        float: right;
      }

    }

    &__txt {
        margin: 2rem 0;
        font-size: 16px;

        &--left {
          float: left;
        }
    }

}

.block {
  &__sub {
    grid-column: 1;
    padding: 15px 30px;

    &--right {
      grid-column: 2;
    }
  }

  &__img {
    grid-column: 2;

    &--left {
      grid-column: 1;
    }

    img {
      width: 100%;
      display: block;
    }
  }
}
