.team {

    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mq(medium) {
            max-width: 80%;
        }

        @include mq(large) {
            max-width: 70%;
        }
    }

    &__header-box {
        width: 100%;
        text-align: center;
        margin: 6rem 0 6rem;
    }

    &__header {
        color: $color-black-3;

        &--color {
            color: $color-orange-1;
        }
    }

    &__photo-box {
        position: relative;
    }

    &__photo {
        max-width: 100%;
        height: auto;
    }

    /////////////////////
    // MENAGEMENT & EMPLOYEE

    &__management {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem;
    }

    &__ceo {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color-black-3;
    }

    &__leads {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 0 15rem;
      margin-top: 3rem;

      @include mq(small, max) {
        display: flex;
        flex-direction: column;
      }
    }

    &__light {
        color: $color-grey-1;
    }

    &__ceo:first-child {
        margin-bottom: 1rem;
    }

    &__employee-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        position: relative;
        z-index: 20;

        @include mq(small) {
            flex-direction: row;
            flex-wrap: wrap;
        }

    }

    &__heading-box {
        flex: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }

    &__heading {
        width: 154px;
        padding: .8rem;
        border-radius: 15px;
        background-color: $color-orange-1;
        text-align: center;
        color: $color-white-1;
    }

    &__single {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
        white-space: nowrap;
    }

    &__code {
    }

    &__column-1 {
         margin-right: 5rem;
    }

    &__office {
      width: 100%;
    }

    &__employees {
      display: grid;

      @include mq(medium, max) {
        display: flex;
        flex-direction: column;
      }

      &--1-cols {
        grid-template-columns: 1fr;
      }

      &--2-cols {
        grid-template-columns: 1fr 1fr;
      }

      &--3-cols {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
}
