$breakpoints: (
    
    "very-small":   37.5em,   //600px
    "small":        50em,     //800px
    "medium":       64em,     //1024px
    "large":        78em,     //1248px
    "very-large":   112.5em   //1800px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == min {
            $width: $width + 0.06em;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}
