body {
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    font-size: 16px; //test
}

.horizontal-line {
    
    width: 100%;
    &--small {
        border-top: 1px solid $color-orange-1;
        opacity: .8;

    }

}

/////////////////////////
// SECTION ABOUT
.about {

    &__header {
        font-size: 4rem;
        font-weight: 900;
        text-transform: uppercase;

    }

    &__txt {
        color: $color-grey-5;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2.6rem;

        &--light {

            font-size: 1.4rem;
            font-weight: 400;
        }
    }
}

/////////////////////////
// SECTION OUR GAMES

.our-games {

    &__header {
        font-size: 2.8rem; //44px;
        font-weight: 900;
        text-transform: uppercase;
    }
}

/////////////////////////
// SECTION TEAM

.team {

    &__header {
        font-size: 2.8rem; //4.4
        font-weight: 900;
        text-transform: uppercase;
    }

    &__bold {
        font-size: 2.3rem;
        font-weight: 900;
        text-transform: uppercase;

        &--small {
            font-size: 1.8rem;
        }

    }

    &__light {
        font-size: 2.3rem;
        font-weight: 300;
        line-height: 3rem;
        text-transform: capitalize;

        &--upper {
            text-transform: uppercase;
        }

        &--small {
            font-size: 1.8rem;
        }
    }

    &__heading {
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
    }

}

/////////////////////////
// SECTION JOBS

.jobs {

    &__header {
        font-size: 4rem; //6
        font-weight: 900;
        text-transform: uppercase;
    }

    &__txt-bold {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2.6rem;
        letter-spacing: 0.72px;

    }

    &__txt-light {
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: 0.3px;
        line-height: 28px;

    }

    &__mail {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 29.24px;
    }
}

/////////////////////////
// SECTION JOBS

.contact {

    &__header {
        font-size: 4.4rem;
        font-weight: 900;
        text-transform: uppercase;
    }
}

/////////////////////////
// SECTION OUR CITY

.our-city {

    &__header {
        font-size: 4.4rem; //4.4
        font-weight: 900;
        text-transform: uppercase;
    }

    &__txt {
        color: $color-grey-5;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.6rem;
    }

}

/////////////////////////
// SECTION FOOTER

.footer {

    &__heading {
        font-size: 1.8rem;
        font-weight: 900;
        text-transform: uppercase;
    }

    &__name {
        font-size: 1.4rem;
        font-weight: 400;
    }

    &--upp {
        font-weight: 900;
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &--cap {
        font-weight: 400;
        font-size: 1.4rem;
        text-transform: capitalize;
    }

    &__copy {
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
    }
}